.region #block-block-1 {
  background-color: #f5dfe8;
  border-top-color: #ff0000;
  border-right-color: #ff0000;
  border-bottom-color: #ff0000;
  border-left-color: #ff0000;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
}

